.aboutContainer {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.left,
.right {
  flex: 1;
}

.left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.left img {
  width: 80%;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}

.right {
  border-left: 2px solid var(--bg-primary);
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right span {
  color: var(--bg-primary);
  font-weight: bold;
}

.right p {
  text-align: center;
  color: var(--bg-grey-secondary);
}

@media screen and (max-width: 768px) {
  .aboutContainer {
    flex-direction: column;
  }

  .right {
    border: none;
  }

  .right p,
  .right span {
    font-size: .8rem;
  }
}
