@keyframes textAnimation {
  from {
    transform: translateX(-200%);
  }

  to {
    transform: translateX(0%);
  }
}

/* Botão menu mobile */
.btnMenu {
  display: none;
  font-size: 1.3rem;
  color: var(--bg-primary);
  font-weight: bold;
}

/* Botão menu mobile */

/* Buttons */

#header {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

#header .left a {
  text-decoration: none;
}

#header .left a h2 {
  animation: textAnimation 1s;
  font-weight: bold !important;
  color: var(--bg-primary);
  text-decoration: none;
}

#header .left a h2 span {
  color: #fff;
}

#header nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-navbar);
  padding: 0 4.5rem;
}

#header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

#header nav ul li a {
  font-weight: bold;
  font-size: 0.9rem;
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease-in-out;
  padding: 0.2rem 0.6rem;
  border-radius: 10px;
}

#header nav ul li a:hover,
#header nav ul li a:active {
  background-color: #fff;
  color: var(--bg-primary);
}

#header .right ul .btnClose {
  display: none;
}

.card-bottom a {
  text-decoration: none;
}

.listUserSettings {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.listUserSettings li {
  cursor: pointer;
  color: var(--grey);
  font-weight: bold;
}

.listUserSettings li:hover {
  color: var(--purple-blue);
}

@media screen and (max-width: 768px) {
  #header .right ul {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    top: -100vh;
    left: 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    z-index: 1;
    transition: all 0.3s ease-in-out;
  }

  #header nav {
    padding: 0 1rem;
  }

  #header .right ul li a {
    color: #fff;
  }

  #header .right ul.showList {
    top: 0;
  }

  .activeUl {
    top: 0;
  }

  #header .right ul .btnClose {
    display: block;
    position: absolute;
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 2rem;
    font-weight: bold;
    top: 0.5rem;
    right: 1rem;
    width: fit-content;
  }

  #header .right ul .btnClose:hover {
    color: var(--bg-primary);
  }

  .btnMenu {
    z-index: 100;
    display: block;
    border: none;
    cursor: pointer;
    background-color: transparent;
  }

  .btnMenu img {
    max-width: 20px;
  }
}
