.noticeContainer {
  border: 1px solid #fccf948f;
}

.noticeContent {
  display: flex;
  gap: 1rem;
}

.left,
.right {
  flex: 1;
}

.left {
  padding: 2rem;
}

.left h3 {
  color: var(--bg-primary);
  margin-bottom: 1rem;
}

.left p {
  color: var(--bg-grey-secondary);
  letter-spacing: 1.2px;
  font-size: 0.9rem;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.right img {
  width: 90%;
}


@media screen and (max-width: 768px) {
  .noticeContent {
    flex-direction: column;
  }

  
  .left p {
    letter-spacing: 1.2px;
    font-size: 0.7rem;
  }

  .right {
    border: none;
  }

  .right p,
  .right span {
    font-size: .8rem;
  }

  
}
