* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-primary: #aa4a2e;
  --bg-terciary: #dd6f4db9;
  --bg-black: #263238;
  --bg-grey-primary: #4d4d4d;
  --bg-grey-secondary: #717171;
  --bg-neutral-silver: #e0e0e0;
}

body {
  position: relative;
  background-color: rgba(152, 152, 152, 0.127);
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  background: var(--bg-grey-primary);
}

body::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: 3px solid var(--bg-primary);
}
